In [56]:
import pandas as pd
import numpy as np

In [58]:
old_df = pd.read_csv('../../datasets/Test1NERPred.csv', delimiter=';', index_col=False, encoding='cp1252', names=['Sentence', 'Word', 'Tag', 'Old-Pred'])
new_df = pd.read_csv('../../datasets/Test1NERPred2.csv', delimiter=';', index_col=False, encoding='cp1252', header=0)

In [59]:
df = pd.concat([old_df, new_df.Prediction], axis=1)

In [60]:
df.describe()

              Sentence   Word    Tag Old-Pred Prediction
count              900  19402  19402    19402      19402
unique             900   4369     41       15         15
top     Sentence: 9170    the     NN        O          O
freq                 1    961   2689    16275      16559

In [62]:
df['dif'] = np.where(df['Old-Pred'] != df['Prediction'], True, False)

In [64]:
diff_df = df[df.dif == True]

In [65]:
diff_df.describe()

              Sentence  Word   Tag Old-Pred Prediction   dif
count              219  2208  2208     2208       2208  2208
unique             219   786    22       15         15     1
top     Sentence: 9545   the   NNP        O          O  True
freq                 1   126  1296      441        725  2208

In [66]:
diff_df

             Sentence           Word   Tag Old-Pred Prediction   dif
1                 NaN           2005    CD   B-time     I-time  True
3                 NaN         Zambia   NNP    B-geo      B-gpe  True
11                NaN       Indebted   NNP        O      I-org  True
12                NaN           Poor   NNP        O      I-org  True
13                NaN        Country   NNP        O      I-org  True
14                NaN     Initiative   NNP        O      I-per  True
19                NaN            USD   NNP        O      B-org  True
20                NaN              6    CD        O     I-time  True
32                NaN         Zambia   NNP    B-geo      B-gpe  True
39     Sentence: 9003         Zambia   NNP    B-geo      B-gpe  True
65                NaN         Zambia   NNP    B-geo      B-gpe  True
98                NaN         Zambia   NNP    B-geo      B-gpe  True
112    Sentence: 9005       Slovakia   NNP    B-geo      B-org  True
119               NaN            the    DT   B-time          O  True
120               NaN            9th    JJ   I-time          O  True
121               NaN        century    NN   I-time          O  True
124               NaN          Great   NNP        O      B-org  True
134               NaN            the    DT    B-geo          O  True
135               NaN      Hungarian   NNP    I-geo      B-gpe  True
142               NaN            the    DT   B-time          O  True
143               NaN           next    JJ   I-time          O  True
145               NaN          years   NNS   I-time          O  True
156               NaN           1867    CD        O     B-time  True
166               NaN      Hungarian   NNP        O      B-gpe  True
168               NaN  Magyarization   NNP        O      I-org  True
175               NaN         Slovak    JJ        O      B-geo  True
187               NaN         Czechs   NNS        O      B-gpe  True
195               NaN      Austrians   NNS        O      B-gpe  True
208               NaN          World   NNP  B-event      B-org  True
210               NaN              I   NNP  I-event          O  True
...               ...            ...   ...      ...        ...   ...
19089             NaN           U.S.   NNP    B-geo      B-gpe  True
19106             NaN            Mr.   NNP        O      B-per  True
19107             NaN           Bush   NNP    B-per      I-per  True
19131             NaN          Texas   NNP    B-geo      B-gpe  True
19156             NaN           U.S.   NNP    B-geo      B-gpe  True
19177             NaN            the    DT    B-geo          O  True
19178             NaN         United   NNP    I-geo      B-org  True
19179             NaN         States  NNPS    I-geo      I-gpe  True
19181             NaN             up    RP   B-time          O  True
19182             NaN             to    TO   I-time          O  True
19183             NaN            six    CD   I-time          O  True
19184             NaN          years   NNS   I-time          O  True
19222  Sentence: 9893          World   NNP        O      B-org  True
19229             NaN           U.S.   NNP    B-geo      B-gpe  True
19242             NaN            the    DT   B-time          O  True
19243             NaN   Independence   NNP   I-time          O  True
19245             NaN        holiday    NN   I-time          O  True
19262             NaN           York   NNP    I-geo      I-org  True
19269             NaN              2    CD        O     I-time  True
19295             NaN           next    JJ   B-time          O  True
19296             NaN           week    NN   I-time          O  True
19301             NaN        Mideast    JJ    B-geo          O  True
19334             NaN           U.S.   NNP    B-geo      B-gpe  True
19375             NaN            the    DT   B-time          O  True
19376             NaN           past    JJ   I-time          O  True
19377             NaN           year    NN   I-time          O  True
19385             NaN          Sudan   NNP    B-geo      B-gpe  True
19394             NaN           Vice   NNP        O      B-per  True
19395             NaN      President   NNP        O      B-per  True
19396             NaN           John   NNP    B-per      I-per  True

[2208 rows x 6 columns]

In [67]:
2208 / 19402

0.11380270075249974

In [99]:
train_df = pd.read_csv('../../datasets/TrainNER.csv', delimiter=';', index_col=False, encoding='cp1252', header=0)

In [100]:
train_df.describe()

            Sentence #    Word     POS     Tag
count             9000  196645  196645  196645
unique            9000   15323      41      15
top     Sentence: 5455     the      NN       O
freq                 1    9839   27417  166610

In [101]:
dif_train_df = train_df[(train_df.Tag != 'O') & ((train_df.POS != 'NN')
                       & (train_df.POS != 'NNP') & (train_df.POS != 'NNPS')
                                                & (train_df.POS != 'NNS'))]

In [102]:
dif_train_df.POS.unique()

array(['JJ', 'CD', 'CC', 'IN', 'DT', 'POS', ',', ':', 'TO', 'PRP$', 'RB',
       'JJR', '``', 'VBN', 'VB', 'RBR', 'WDT', 'JJS', 'VBG', 'VBP', nan],
      dtype=object)

In [103]:
dif_train_df.describe()

            Sentence #     Word   POS    Tag
count              540     5251  5251   5251
unique             540      531    20     14
top     Sentence: 2646  Israeli    JJ  B-gpe
freq                 1      228  3020   2497

In [108]:
dif_train_df[dif_train_df.POS == "PRP$"]

      Sentence # Word   POS     Tag
17504        NaN  his  PRP$  I-time
63544        NaN  his  PRP$  B-time