In [13]:
import pandas as pd
import spacy

In [10]:
nlp = spacy.load('en_core_web_sm')

In [11]:
doc = nlp("This is a sentence.")
print(doc.text)
for token in doc:
    print(token.text, token.pos_, token.dep_)

This is a sentence.
This DET nsubj
is VERB ROOT
a DET det
sentence NOUN attr
. PUNCT punct

In [37]:
df = pd.read_csv("../datasets/Test1NER.csv", sep=';',encoding='cp1250', names=["Sentence","Word","Category"])

In [59]:
df.head(26)

          Sentence           Word Category
0   Sentence: 9001             In       IN
1              NaN           2005       CD
2              NaN              ,        ,
3              NaN         Zambia      NNP
4              NaN      qualified      VBD
5              NaN            for       IN
6              NaN           debt       NN
7              NaN         relief       NN
8              NaN          under       IN
9              NaN            the       DT
10             NaN         Highly      NNP
11             NaN       Indebted      NNP
12             NaN           Poor      NNP
13             NaN        Country      NNP
14             NaN     Initiative      NNP
15             NaN              ,        ,
16             NaN     consisting      VBG
17             NaN             of       IN
18             NaN  approximately       RB
19             NaN            USD      NNP
20             NaN              6       CD
21             NaN        billion       CD
22             NaN             in       IN
23             NaN           debt       NN
24             NaN         relief       NN
25             NaN              .        .

In [47]:
df[df['Sentence'].isnull() == False].index

Int64Index([    0,    26,    39,    78,   112,   127,   147,   197,   221,
              239,
            ...
            19186, 19203, 19222, 19247, 19277, 19311, 19329, 19345, 19365,
            19379],
           dtype='int64', length=900)

In [57]:
s1 = ' '.join(df[(df.index > 0) & (df.index < 26)]['Word'].values.tolist())

In [62]:
doc = nlp(s1)
print(doc.text)
for token in doc:
    print(token.text, token.tag_)

2005 , Zambia qualified for debt relief under the Highly Indebted Poor Country Initiative , consisting of approximately USD 6 billion in debt relief .
2005 CD
, ,
Zambia NNP
qualified VBD
for IN
debt NN
relief NN
under IN
the DT
Highly RB
Indebted NNP
Poor NNP
Country NNP
Initiative NNP
, ,
consisting VBG
of IN
approximately RB
USD $
6 CD
billion CD
in IN
debt NN
relief NN
. .